body {
    font-family: kalameh ;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.brand{
    position: relative;
    right: -30px;
    gap: 10px;
    color: #1f3b56;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4%;
    width: 20%;
    
}
.brand img {
    width: 70px;
    height: 60px;
    

}
.header {
    position: fixed;  /* فیکس کردن در بالای صفحه */
    top: 0;  /* چسباندن به بالای صفحه */
    left: 0;
    width: 100%;  /* پوشش کل عرض صفحه */
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 8px #848485;
    z-index: 1000; /* مقدار z-index بالا برای اطمینان از اینکه روی سایر عناصر بماند */
    height: 100px;
}

.container {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo img {
    height: 40px;
}

.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #1f3b56;
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f4fb;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    width: 300px;
}

.search-bar button {
    border: none;
    background: none;
    cursor: pointer;
    color: gray;
}

.search-bar input:hover{
    border-color: #a30045;
}

.icons{
    display: flex;
    gap: 25px;
    font-size: 28px;
    color: #1f3b56;
}

.icons i {
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    color: #a30045;
}
.nav ul a:hover{
    color: #a30045;
}