*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    direction: rtl;
    font-family: '';
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background-color:#FEF4E8;
    }

    &::-webkit-scrollbar-thumb{
        background-color:#970747 ;
    }

}

body{
    background-color: #FBFBFB;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    color:#13445A ;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    size: 40px;

    &:hover{
        color: #970747;
    }
}

header{
position: fixed;
top: 0;
left: 0;
right: 0;
height: 70px;
width: 100%;
z-index: 100;
background: #eaeaea;
box-shadow: 0px 0px 5px black;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 9%;



.navbar a{
    font-size: 1.7rem;
    color:#13445A;
    display: inline-block;
    margin: 0 1rem;

    &:hover{
        color:#970747;
    }
}
}

.logo{
    font-size: 2.5rem;
    color:#13445A;
    font-weight: bolder;

    a{
        position: absolute;
        padding-right: .1rem;
        width: 200px;
        height: 100px;
    }

}

#menu-btn{
    font-size: 2.5rem;
    color: #13445A;
    cursor: pointer;
    display: none;
}

.darklight-searchBox{
    display: flex;
    align-items: center;
}
.darklight-searchBox .dark-light,
.darklight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;

}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;

}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;

}
.searchToggle i.cancle{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancle{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchBox{
    position: relative;
}
.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    left: 500px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.1);
    opacity:0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity:1;
    pointer-events: auto;
}
.search-field::before{
    content: '';
    position: absolute;
    left: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color:var(--search-bar);
}
body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    left: 15px;
    font-size: 22px;
    cursor: pointer;
}
body.dark .search-field i{
    color: var(--text-color);
}